# Variables de entorno globales para desplegar con Docker Compose
PORT=3000
NODE_ENV=production
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=canchaya_db
JWT_SECRET=ClaveSecretaSuperSeguraParaAyacucho2026Produccion
CORS_ORIGIN=*
